version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`. (No need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.)
    directory: "/"
    # Allow dependabot to run on GitHub Actions
    open-pull-requests-limit: 4
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "12:00"

  # Maintain Gradle Dependencies
  - package-ecosystem: "gradle"
    directory: "/"
    # Allow Dependabot to run on code
    open-pull-requests-limit: 4
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "12:00"
