# Ensure that we only support Java 17 features for all builds
build --java_language_version=17
# Ensure that Java 17-compatible bytecode is produced
build --java_runtime_version=remotejdk_17
# Force Bazel to use Java 25 for its own internal tools/helpers
build --extra_toolchains=@rules_java//java:all
build --tool_java_runtime_version=remotejdk_25

# Set properties that will be required to ensure that
# all legacy tests pass consistently
test --jvmopt="-Duser.language=en"
test --jvmopt="-Duser.country=US"
test --jvmopt="-Duser.timezone=America/Los_Angeles"
test --jvmopt="-Dfile.encoding=UTF-8"

try-import %workspace%/.bazelrc.user
