# Set default behavior, in case users don't have core.autocrlf set.
* text=auto eol=lf

.classpath text
.project text
*.html text
*.htm text
*.java text
*.js text
*.jsp text
*.php text
*.properties text
*.sh text
*.xml text
*.md text
*.bat text
*.gradle text
*.pl text
*.mk text
*.tests text
*.doctest text
gradlew text
manifest text
LIST text

*.bmp binary
*.gif binary
*.jar binary
*.jpg binary
*.jpeg binary
*.png binary
