# This is the rhino configuration for tests.
# Normally, this file is used to list the avaliable options with default values
#
# You may change values for debug purposes.
# To debug configuration loading issues, you may add "-Drhino.debugConfig=true" gradle option

# Stack style. Available values RHINO, MOZILLA, MOZILLA_LF, V8
#
# default:
# rhino.stack.style=rhino

# various compile/linker flags:
#
# default:
# rhino.printTrees=false
# rhino.printICode=false
# rhino.debugLinker=false

# Rhino-Shell
#
# default:
# rhino.use_java_policy_security=false