# This file can be used to enable certain options in this module for testcases.
#
# for example, if there is an (experimental) feature xyz, you can set
# rhino.xyz.enabled=true
# and write tests for features, whiche are not enabled by default for production builds

# Some available options with default values
# rhino.stack.style=rhino
# rhino.printTrees=false
# rhino.printICode=false
# rhino.debugLinker=false
# rhino.use_java_policy_security=false
