# This file is used to configure tests in the "rhino-tools" module.
# Normally, tests should run with the default configuration. Therefore
# this file is mainly used only for documentation of the available options


### rhino.test.runCommand.mockOnly (default: true) ###
#
# GlobalRunCommandTest performs several tests using either a mock or, additionally,
# real OS-specific commands. To make the tests more reliable and not dependent on
# OS-specific binaries, the default is to use the mock only.
#
# use
# rhino.test.runCommand.mockOnly=false
# to also run tests with real OS commands.