# This file can be used to enable certain options in this module for testcases.
#
# for example, if there is an (experimental) feature xyz, you can set
# rhino.xyz.enabled=true
# and write tests for features, whiche are not enabled by default for production builds
#
#
# Please keep this values for RhinoPropertiesTest
test.file.rhino-test-config.loaded=true
test.config.bar=value4-mod


