# This file is used to configure tests in the "rhino" module.
#
# Normally, rhino should run without "rhino.config" and "rhino-test.config"
# in default configuration.
#
# You cen set here some options for testing purposes, for example, if you
# add a new (exprermental) feature "xyz", that shouldn't be enabled in
# production yet, you can add a flag in your code
#
#    private static final boolean XYZ = RhinoConfig.get("rhino.xyz", false)
#
# and then set "rhino.xyz=true" in this file to enable it for tests.
#
#
#
# Please keep this values for RhinoPropertiesTest:

test.file.rhino-test-config.loaded=true
test.config.bar=value4-mod
