name: Rhino CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      # Some tests require more CPU, and all can use multiple CPUs
      max-parallel: 1
    name: Rhino Tests
    steps:
    - name: Check out Rhino
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.2.2
    - name: Check out test262
      # We don't actually want all the history for this part
      run: git submodule update --init --single-branch
      # we need this for android enmulator
    - name: Enable KVM
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger --name-match=kvm
    - name: Set up Java
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      # By putting JVMs in reverse order, the last one is the one that
      # will go in the path.
      with:
        java-version: |
          11
          17
          21
        distribution: 'adopt'
    - name: Build and test for Android
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 31
        arch: x86_64
        script: ./gradlew it-android:connectedCheck
    - name: Upload results for Android
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: ${{ always() }}
      with:
        name: reports-android
        path: '*/build/reports'
    - name: Build and test Java 21
      run: >-
        ./gradlew check
    - name: Upload results Java 21
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: ${{ always() }}
      with:
        name: reports-java-21
        path: '*/build/reports'
    - name: Build and test Java 17
      env:
        RHINO_TEST_JAVA_VERSION: "17"
      run: >-
        ./gradlew check
    - name: Upload results Java 17
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: ${{ always() }}
      with:
        name: reports-java-17
        path: '*/build/reports'
    - name: Build and test Java 11
      env:
        RHINO_TEST_JAVA_VERSION: "11"
      run: >-
        ./gradlew check
    - name: Upload results Java 11
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: ${{ always() }}
      with:
        name: reports-java-11
        path: '*/build/reports'
