name: Rhino CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      # Some tests require more CPU, and all can use multiple CPUs
      max-parallel: 1
    name: Rhino Tests
    steps:
    - name: Check out Rhino
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Check out test262
      # We don't actually want all the history for this part
      run: git submodule update --init --single-branch
    - name: Set up Java
      uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73 # v4.4.0
      # By putting JVMs in reverse order, the last one is the one that
      # will go in the path.
      with:
        java-version: |
          11
          17
          21
        distribution: 'adopt'
    - name: Build and test Java 21
      run: >-
        ./gradlew check
    - name: Upload results Java 21
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: ${{ always() }}
      with:
        name: reports-java-21
        path: '*/build/reports'
    - name: Build and test Java 17
      env:
        RHINO_TEST_JAVA_VERSION: "17"
      run: >-
        ./gradlew check
    - name: Upload results Java 17
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: ${{ always() }}
      with:
        name: reports-java-17
        path: '*/build/reports'
    - name: Build and test Java 11
      env:
        RHINO_TEST_JAVA_VERSION: "11"
      run: >-
        ./gradlew check
    - name: Upload results Java 11
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: ${{ always() }}
      with:
        name: reports-java-11
        path: '*/build/reports'
