name: Publish to Maven Central

on:
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        server-id: github
        settings-path: ${{ github.workspace }}
    - name: Publish
      run: >-
        ./gradlew publish -PmavenUser=${MAVEN_CENTRAL_USER} -PmavenPassword=${MAVEN_CENTRAL_PASSWORD}
